.slide {
  position: relative;
  height: 415px;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    height: 255px;
  }
}

.slider {
  & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      border-radius: 25px;
  
    }
  
    &_number {
      position: absolute;
      bottom: 24px;
      right: 50%;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
  
      @media screen and (max-width: 768px) {
        display: none;
  
      }
  }

}

.active {
  opacity: 1;
}

.right-Arrow {
  background-image: url("../../assets/images/carrousel/arrowRight.svg");
  position: absolute;
  top: 42%;
  right: 2%;
  z-index: 10;
  width: 46px;
  height: 79px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    background-image: url("../../assets/images/carrousel/arrowRightMobile.svg");
    top: 50%;
    right:-3%;

  }
}

.left-Arrow {
  background-image: url("../../assets/images/carrousel/arrowLeft.svg");
  position: absolute;
  top: 42%;
  left: 2%;
  width: 46px;
  height: 79px;
  z-index: 10;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    background-image: url("../../assets/images/carrousel/arrowLeftMobile.svg");
    top: 50%;
    left: 2%

  }

}