.collapse_about {
    margin-left: 80px;
    margin-right: 80px;
}

.collapse {
    margin-bottom: 30px;

    &_title {
        background: var(--Red, #FF6060);
        color: #FFF;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;

        &::after {
            content: "";
            display: block;
            height: 32px;
            width: 32px;
            background-image: url(arrow.svg);
            transition: transform 0.3s ease;
            /* Ajout d'une transition pour une animation fluide */
        }

        &.open {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    &_content {
        padding: 20px;
        background-color: #F6F6F6;
        color: #FF6060;

        p {
            line-height: 22px;
            margin: 0;
        }
    }

    .hidden {
        display: none;
    }
}