.Collapse {
    margin-bottom: 30px;
    &-title {
        background: var(--Red, #FF6060);
        color: #FFF;
        border-radius: 5px;
        padding: 10px;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      
        &::after {
            content:"";
            display: block;
            height: 32px;
            width: 32px;
            background-image: url(arrow.svg);
            transform: rotate(-90deg);
        }
        &.open {
            &::after {
                transform: rotate(0);
            }
        }
    }
    &-content {
        padding: 20px;
        background-color: #F6F6F6;
        color: #FF6060;
        p {
            line-height: 22px;
        }
    }
    .hidden {
        display: none;
    }
}