.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    background: #F6F6F6;
    padding: 50px;
    
    @media screen and (max-width: 768px) {
        flex-direction:column;
        margin-bottom: 27px;
        background: #FFF;
        padding: 0px;
    }
}
