.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
  background: #000;

  @media screen and (max-width: 768px) {
    gap: -0.444px;

  }

  &_logo {
    margin-top: 66px;
    width: 122px;
    height: 39px;
  }

  &_text {
    color: rgba(255, 255, 255, 1);

    @media screen and (max-width: 768px) {
      font-size: 12px;
      font-weight: 500;

    }

  }
}